.catalog-main {
    position: absolute;
    width: 1919px;
    height: 1145px;
    left: 1px;
    top: 1380px;
}

.catalog {
    position: absolute;
    width: 237px;
    height: 80px;
    left: 202px;
    top: 150px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 133.9%;
    text-align: center;
    color: #0F172E;
}

.catalog-logo {
    position: absolute;
    width: 746px;
    height: 852px;
    left: 48px;
    top: 295px;
}

.tent-image {
    position: absolute;
    width: 284px;
    height: 306.98px;
    left: 817px;
    top: 381px;
    display: inherit;
    border-color: transparent;
    background: #FAFAFA;

}

.tent-text {
    position: relative;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #0F172E;
    top: 30px;
}

.bags-image {
    position: absolute;
    width: 274px;
    height: 306.98px;
    left: 1135px;
    top: 381px;
    display: inherit;
    border-color: transparent;
    background: #FAFAFA;
}

.bags-text {
    position: relative;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #0F172E;
    top: 20px;
}

.chair-image {
    position: absolute;
    width: 284px;
    height: 306.98px;
    left: 1434px;
    top: 381px;
    display: inherit;
    border-color: transparent;
    background: #FAFAFA;
}

.chair-text {
    position: relative;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #0F172E;
    top: 20px;
}

.BBQ-image {
    position: absolute;
    width: 284px;
    height: 306.98px;
    left: 817px;
    top: 770px;
    border-color: transparent;
    background: #FAFAFA;
}

.BBQ-text {
    position: relative;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #0F172E;
    top: 20px
}

.axe-image {
    position: absolute;
    width: 284px;
    height: 306.98px;
    left: 1127px;
    top: 770px;
    border-color: transparent;
    background: #FAFAFA;
}

.axe-text {
    position: relative;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #0F172E;
    top: 20px;
}

.boat-image {
    position: absolute;
    width: 284px;
    height: 306.98px;
    left: 1434px;
    top: 770px;
    border-color: transparent;
    background: #FAFAFA;
}

.boat-text {
    position: relative;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #0F172E;
    top: 7px;
}

.catalog-buttons button:hover {
    background-color: #FF5656;
    border-radius: 10px;
    cursor: pointer;
}