.catalog-main {
    position: absolute;
    width: 1919px;
    height: 1145px;
    left: 1px;
    top: 1431px;
}

.catalog {
    position: absolute;
    width: 237px;
    height: 80px;
    left: 202px;
    top: 150px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 133.9%;
    text-align: center;
    color: #0F172E;
}

.catalog-logo {
    position: absolute;
    width: 746px;
    height: 852px;
    left: 48px;
    top: 295px;
}